@charset "UTF-8";

/**************************************/
/* Reset                              */
/**************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

/**************************************/
/* Style                              */
/**************************************/

body {
    padding: 1rem;
}

h1 {
    font-family: Arial;
    font-size: 2rem;
}

h1 img {
    height: 1.5rem;
    vertical-align: baseline;
}

button {
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
}

button:disabled {
    display: none;
}

.card-text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
}

.dropdown-search-card:hover {
    background-color: grey;
    transition: ease-in-out;
    transition-duration: 50ms;
}

/**************************************/