@charset "UTF-8";

/**************************************/
/* Reset                              */
/**************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

/**************************************/
/* Style                              */
/**************************************/

body {
    padding: 1rem;
}

h1 {
    font-family: Arial;
    font-size: 2rem;
}

h1 img {
    height: 1.5rem;
    vertical-align: baseline;
}

button {
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
}

button:disabled {
    display: none;
}

.card-text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
}

.dropdown-search-card:hover {
    background-color: grey;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.dropdown-search-card {
    transition: ease-in-out;
    transition-duration: 200ms;
}

.dropdown-menu a {
    text-decoration: none;
    color: inherit;
}

/* 1. Gérer le fond dégradé */
.banner-wrapper {
    height: 450px;
    overflow: hidden;
    background-color: #14181c;
    /* Couleur de fond Letterboxd */
}

.backdrop-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 20%;
    filter: brightness(0.6);
}

.backdrop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Dégradé : Noir sur les côtés et fondu vers le bas */
    background: linear-gradient(to bottom, transparent 60%, #14181c 100%),
        linear-gradient(to right, #14181c 0%, transparent 20%, transparent 80%, #14181c 100%);
}

/* 2. Faire monter le poster */
.content-overlay {
    margin-top: -150px;
    /* Remonte le contenu sur l'image */
    position: relative;
    z-index: 10;
}

.poster-container img {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/**************************************/